@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Unbounded", sans-serif;
    overflow-x: hidden;
}



.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.blogs {   
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 165px ;
  background-color: #d6a354;
}

.blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.blogs img {
    width: 154px;
    height: 68.7px;
    margin-bottom: 80px;
    cursor: pointer;
}



.blogs {
    grid-column: 1 / 2 span;
}



.ads {
    grid-column: 2 / 4 span;
}
li {
    list-style: none;
    text-align: center;
    line-height: 40px;
}

li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
}

li a:hover {
    color: white;
}

.active {
    color: white;
}


.ads {
    background: linear-gradient(rgba(22,132 ,145 , 0.7),rgba(188, 145, 56, 0.7) ),  url("https://templatemo.com/templates/templatemo_585_barber_shop/images/client-doing-hair-cut-barber-shop-salon.jpg") center / cover  no-repeat;
    height: calc(100vh - 0px);
    width: 1440px;
    background-attachment: fixed;
    border-bottom: 15px solid #d6a354;
}

.ads h1 {
    color: white;
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.ads p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;
}


.shop {
    margin-top: 400px;
    margin-left: 50px;
}

.btn-primery {
    padding: 5px 30px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}


.btn-secondery {
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(182, 32, 32);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.btn-primery:hover {
    background-color: #f5b350;
    transition: all 0.3s;
}

.btn-secondery:hover {
    background-color: #f7bd68;
    transition: all 0.3s;
}

.left {
  border: 10px solid #d6a354;
  border-radius: 100%;
  position: absolute;
  z-index: 2;
  bottom: -0px;
  right: -60px;
  padding: 50px 90px 50px 50px;
  width: 360px;
  height: 350px;
}

.left img {
  border: 10px solid #d6a354;
  border-radius: 100%;
  position: absolute;
  top: -60px;
  right: 20px;
  left: 0;
  width: 120px;
  height: 120px;
  margin: auto;
  object-fit: cover;
}

.left h1 {
    margin-top: 50px;
    color: white;
}

.btn {
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #f7bd68;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
    transition: all 0.3s;
}

.btn:hover {
    background-color: rgb(182, 32, 32);
}

.Meet-Babers {
  margin-left: 550px;
  margin-top: 100px;
  margin-bottom: 100px;
}




.all-boxs{
  display: flex;
}

.header-1 h1{
  font-size: 60px;
  margin-bottom: 1.5rem !important;
  font-weight: 900;
}

.header-1 p {
  font-size: 21px;
  font-weight: 300;
  color: #717275;
  line-height: 30px;
}

.header-1{
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  margin-right: 100px;

}

.Meet-Babers h2 {
  color: #c12828;
  margin-bottom: 3rem !important;
}


.big-1 {
  background-color: #d6a354;
  width: 42%;
  height: 250px;
  border-radius: 10px;
  position: relative;
}

.big-1:hover {
  background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
  transform: scale(1.05);
  transition: all 0.3s ease;
}



.big-2 {
  background-color: #d6a354;
  width:42%;
  height: 250px;
  border-radius: 10px;
  position: relative;
  margin-left: 50px;
}

.big-2:hover {
  background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
  transform: scale(1.05);
  transition: all 0.3s ease;
}


.big-1 img {
    width: 550px;
    height: 250px;
    border-radius: 20px;
    transform: rotate(8deg);
    object-fit: cover;
    margin-left: 12.5px;
}

.big-2 img {
   width: 550px;
    height: 250px;
    border-radius: 20px;
    transform: rotate(8deg);
    object-fit: cover;
    margin-left: 12.5px;
}

.icons{
  background: white;
  border-radius: 100px;
  margin: 10px 40px;
  padding: 10px 17px 10px 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  left: 0;
  position: absolute;
  top: 180px;
  right: 0px;
}




.icons p {
  color: #717275;
  font-size: 25px;
  font-weight: 300;
  margin-left: 10px;
}


.icons i {
  background: #c12828;
  border-radius: 100%;
  color: white;
  font-size: 14px;
  width: 35px;
  height: 35px;
  padding: 10px;
}




.Discount{
        background: linear-gradient(rgba(0,0 ,0 , 0.5),rgba(0, 0, 0, 0.5) ),  url("https://templatemo.com/templates/templatemo_585_barber_shop/images/barber-customer-giving-high-five.jpg") center/cover no-repeat;
        padding: 100px 50px;
        margin-left: 480px;
        background-attachment: fixed;
        position: relative;
        text-align: center;
        margin-top: 10px;
}


.Discount h1 {
    color: #c12828;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 0.2rem;
}


.Discount p {
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 2rem;
}

.Discount span {
    background-color: #d6a354;
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: 700;
}

.Services {
    margin-left: 550px;  
    margin-top: 50px; 
}

.Services h1 {
    font-size: 50px;
    font-weight: 700;
}

.boxses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 550px;
    margin-bottom: 100px;
    
}


.Hair-cut{
    background: url("https://templatemo.com/templates/templatemo_585_barber_shop/images/services/woman-cutting-hair-man-salon.jpg") center/ cover no-repeat;
    width: 650px;
    height: 450px;
    margin-top: 40px;
    border-radius: 20px;
}

.Washing {
    background: url("https://templatemo.com/templates/templatemo_585_barber_shop/images/services/hairdresser-grooming-their-client.jpg") center/ cover no-repeat;
    width: 650px;
    height: 450px;
    margin-top: 40px;
    border-radius: 20px;
}

.Shaves {
    background: url("https://templatemo.com/templates/templatemo_585_barber_shop/images/services/hairdresser-grooming-client.jpg") center/ cover no-repeat;
    width: 650px;
    height: 450px;
    margin-top: 40px;
    border-radius: 20px;
}

.Kids {
    background: url("https://templatemo.com/templates/templatemo_585_barber_shop/images/services/boy-getting-haircut-salon-front-view.jpg") center/ cover no-repeat;
    width: 650px;
    height: 450px;
    margin-top: 40px;
    border-radius: 20px;
}

.price:hover {
    transform: scale(1.);
    border-width: 5px;
    border-color: rgb(230, 159, 28);
}

.price {
    border: 1px solid rgb(255, 255, 255);
    padding: 30px 20px;
    margin: 30px 30px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-2{
    border: 1px solid rgb(255, 255, 255);
    padding: 30px 45px;
    margin: 30px 30px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price h1 {
    margin-top: 300px;
    color: white;
}

.price span {
    font-weight: 700;
    margin-top: 300px;
    background-color: #d6a354;
    padding: 5px 10px;
    border-radius: 20px;
}

.price-2 h1 {
     margin-top: 300px;
    color: white;
    margin-right: 320px;
}

.price-2 span {
    font-weight: 700;
    margin-top: 300px;
    background-color: #d6a354;
    padding: 5px 10px;
    border-radius: 20px;
}

.price-2:hover {
    transform: scale(1.);
    border-width: 5px;
    border-color: rgb(230, 159, 28);
}

.contact {
  
  background: url("https://templatemo.com/templates/templatemo_585_barber_shop/images/vintage-chair-barbershop.jpg")
    center / cover no-repeat;
   padding: 100px 50px;
    margin-left: 480px;
    background-attachment: fixed;

}

.form h1{
    margin-bottom: 10px;
    font-size: 40px;
}

.form p {
    margin-bottom: 50px;
    font-size: 20px;
    color: #5f5c5c;
    font-weight: 300;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-left: 116px;
  margin-right: 76px;
  padding: 34px;
  margin-top: 3rem;
  border-radius: 20px;
}

.big-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.names {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

input {
  padding: 1rem 9rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
}


#bb-branch {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: #5f5c5c;
}

#bb-date {
    padding: 20px 10px;
    color: #5f5c5c;
}

#bb-number {
    padding: 20px 10px;
}

textarea {
  height: 130px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
}


.submit {
    padding: 12px;
    width: 30%;
    margin-left: 350px;
    border-radius: 100px;
    border: none;
    background-color: #c12828;
    color: white;
    font-size: 30px;
    font-weight: 700;
}


.submit:hover {
  cursor: pointer;
  background-color: #FDBB2D;
  transition: all 0.3s ease;

}


iframe {
  margin-left: 550px;
  border-radius: 20px;
  margin-top: 100px;
  width: 69%;
}

section {
  display: flex;
  margin-top: 100px;
}



.Price-List {
  margin-left: 550px;
}

.Price-List h1 {
  font-size: 46px;
  font-weight: 700;
}


.Price-List p {
  font-weight: 700;
  margin-bottom: 1.5rem;
}


.prices h6 {
  display: flex;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: .5rem;
  margin-top: 10px;
}




.price-list-thumb-divider {
  background: #717275;
  display: flex;
  width: 500px;
  flex: auto;
  margin: auto 15px 0;
  border: 1px solid #717275;
}


.price-img{
  background-color: #d6a354;
  width: 23%;
  height: 275px;
  border-radius: 20px;
  position: relative;
  margin-left: 50px;
  margin-top: 20px;
}

.sawirka img{
  width: 430px;
    height: 275px;
    border-radius: 20px;
    transform: rotate(8deg);
    object-fit: cover;
}


.price-img:hover {
  background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.prices span {
  color: #d6a354;
}
        


.color {
  margin-left: 500px;
  margin-top: 100px;
  background-color: #f0f8ff;
  padding: 100px 50px;
  text-align: center;
}

.color h1 {
  font-size: 46px;
  font-weight: 700;
}


.Information {
  display: flex;
  justify-content: space-between;
  margin-left: 550px;
  margin-top: 100px;
}

.Contact i{
  background: #c12828;
  border-radius: 100%;
  color: white;
  font-size: 14px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 36px;
  margin-top: 0.5rem;
} 


.Contact h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.Contact a{
  display: flex;
  margin-bottom: 0.5rem;
  color: #d6a354;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}

.Contact a:hover {
  color: #c12828;
}


.big-4 {
  background-color: #d6a354;
  margin-right: 100px;
  width: 35%;
  height: 200px;
  border-radius: 10px;
}

.Open {
  background-color: #c12828;
  height: 100%;
  transform: rotate(8deg);
  border-radius: 10px;
}

.Daily {
  padding: 20px 20px;
  transform: rotate(-8deg);
  color: white;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.Daily p {
  color: #000;
  font-size: 22px;
  margin-top: 0.3rem;
}

.Daily i {
  background-color: #d6a354;
  color: #000;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 100px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 1rem;
}


.Our-Branches {
  margin-left: 550px;
  margin-top: 50px;
}

.Our-Branches h1 {
  font-size: 28px;
  margin-bottom: 1.5rem;
}

.sanka {
  display: flex;
}

.Grunberger strong {
  color: #c12828;
  font-size: 15px;
}

.Grunberger p {
  margin-top: .50rem;
  font-size: 20px;
  font-weight: 300;
  color: #717275;
}



.footer {
  margin-left: 550px;
  margin-top: 100px;
  display: flex;
}

.footer em {
  font-style: normal;
  color: #d6a354;
  cursor: pointer;
}

.footer em:hover {
  color: #b22727;
}

footer {
  font-size: 14px;
  font-weight: 300;
   color: #717275;
}

.circle-btn {
  width: 60px;
      height: 60px;
      border: 3px solid #d4a04a; /* midabka huruudka u dhow */
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.3s;
      margin-left: 620px;
    }
    
    .circle-btn:hover {

      border-color: #b22727;
    }
    
    .circle-btn:hover .arrow {
      border-color: #b22727;
    }

    .arrow {
      width: 15px;
      height: 15px;
      border-top: 3px solid #d4a04a;
      border-right: 3px solid #d4a04a;
      transform: rotate(-45deg);
      transition: 0.3s;
      
    }
    

.boder {
  position: relative;
  padding: 80px 50px;
}


.boder::after {
  content: "";
  background: linear-gradient(90deg, #FDBB2D 50%, #22C1C3 100%);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
}